
:root {
    --cols: 10;
    --rows: 6;
    --cell-size: 2.5rem;
    --cell-gap: 0.1875rem;
}

body {
    font-family: 'Times New Roman', sans-serif;
    margin: 1;
    padding: 2rem;
    background: #f7f7fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {
    :root {
        --cell-size: 1.875rem;
    }
}
